@import 'src/assets/styles/templates';

.container {
  @include flex-col-gap(20px);
  align-items: center;

  width: 100%;
  padding: 15px;

  border-radius: $br_default;
  background: var(--c_white);

  h2 {
    font-size: $fs_large;
    font-weight: 600;
  }

  header {
    display: flex;
    justify-content: space-between;
    width: 100%;

    button {
      cursor: pointer;

      @media (hover: hover) {
        &:hover {
          opacity: 0.5;
        }
      }

      &:active {
        opacity: 0.5;
      }
    }
  }

  & > div {
    display: flex;
    gap: 15px;
    flex-direction: column;
    width: 100%;
  }
}

@media screen and (min-width: 550px) {
  .container {
    width: fit-content;

    & > div {
      flex-direction: row;
    }
  }
}
